@media (max-width: 768px) {
  .show-order-summary-container {
    display: block !important;
  }
  .checkout-desktop-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .form-container {
    padding: 20px 30px 30px 30px !important;
  }
  .checkout-left-content {
    padding: 0 !important;
    min-width: 100% !important;
  }
  .checkout-right-content {
    display: none !important;
  }
  .complete-registration-button {
    width: 100% !important;
  }
}

.footer-container {
  margin-top: auto;
}