@media (max-width: 768px) {
  .AnnualConferenceMainContainer {
    max-width: 90vw;
  }
  .ec-editor-block h1 {
    font-size: 3vw;
  }
  .ec-editor-block p {
    font-size: 1.2rem;
  }
  .register-now-btn-container {
    width: 80%;
  }
}