/* CheckoutHeader.css */

/* Responsive Design */

@media (max-width: 992px) {
  /* Hide elements on medium screens */
  .annual-conference-container {
    display: none !important;
  }
  .secure-lock-container-outer {
    display: none !important;
  }
}

@media (max-width: 575px) {
  /* Adjust styles on small screens */
  .select-tickets-container {
    width: 100%;
    margin: 30px auto 0;
    padding: 0 15px;
  }
}

/* Custom Styles */

.text-primary {
  color: #334999 !important;
}