@media (max-width: 991px) {
  .scheduled-time-container-main {
    flex-direction: column;
  }
  .scheduled-time-container-main {
    margin: 0 auto;
  }
  .title-description-block {
    width: 100%;
  }
}