/* CountDownClock.css
 * Styles for the CountDownClock component
 */

/* Clock digits */
.clock-digit {
  font-size: 60px;
  line-height: 62px;
  font-family: Arial, sans-serif;
  letter-spacing: 0.1em;
}

.clock-digit-container {
  display: flex;
  justify-content: space-around;
}

/* Responsive design */
@media (min-width: 790px) {
  .row.stop-expanding {
    max-width: 790px;
    margin: 0 auto;
  }
}

@media (max-width: 443px) {
  .row.stop-expanding {
    flex-direction: column;
    align-items: center;
  }
  .row.stop-expanding > div {
    margin-bottom: 20px;
  }
  .clock-digit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .clock-digit {
    margin: 10px;
  }
}

@media (min-width: 444px) {
  .clock-digit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
